.search-container {
    display: flex;
    align-items: center;
    background-color: var(--surface-color);
    border-radius: var(--radius-pill);
    padding: var(--spacing-xxs) var(--spacing-sm);
    transition: all var(--transition-fast);
    width: 100%;
    max-width: 500px;
    border: 2px solid transparent;
}

.search-container:focus-within {
    background-color: var(--surface-color-focus);
    border: 2px solid var(--tertiary);
}

.search-container:hover {
    background-color: var(--surface-color-hover);
}

.search-icon-leading {
    color: var(--primary-text);
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.search-input {
    border: none;
    background: transparent;
    flex: 1;
    padding: var(--spacing-sm) 0;
    font-size: var(--font-size-md);
    outline: none;
    color: var(--primary-text);
}
.search-input::placeholder {
  color: var(--secondary-text);
  font-weight: 0px; 
  opacity: 1;
  transition: all var(--transition-fast); 
}
.search-input:focus::placeholder {
  opacity: 0;
  visibility: hidden;
}

/* סמן מותאם אישית */
.custom-caret {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 20px; /* גובה הסמן */
  background-color: #007bff;
  animation: blink 1s infinite;
  display: none;
}

.input-with-custom-caret:focus + .custom-caret {
  display: block;
}

.clear-btn {
    width: 18px;
    height:18px;
    background: var(--primary-text);
    border: none;
    cursor: pointer;
    color: var(--surface-color-focus);
    display: flex;
    align-items: center;
    padding: var(--spacing-xxs);
    border-radius: var(--radius-circle);
    margin-left: 4px;
    transition: all var(--transition-slow);
}

.clear-btn:hover {
transform: scale(1.3) rotate(180deg);
}


