.category-nav {
  display: flex;
  gap: 0.5rem;
  padding: var(--spacing-xs);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
}
.category-nav::-webkit-scrollbar {
    height: 8px;
}

.category-nav::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 4px;
}
.category-nav a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--primary-text);
  font-size: 0.9rem;
  white-space: nowrap;
  border-radius: var(--radius-pill);
  padding: var(--spacing-xs) var(--spacing-smd);
  transition: var(--transition-fast);
}

.category-nav a:hover {
  background-color: var(--surface-color-hover);
  font-weight: var(--font-weight-medium)
}

.category-nav__icon {
  font-size: 1.2rem;
}